<section class="section">
    <div class="columns">
    <mat-card class="mat-elevation-z3 column is-4 is-offset-4 ">
        <div>
            
            <p color="primary">Admin Login:</p>
            
    
                <br>  
                  <mat-form-field class="column is-10 is-offset-1" [formGroup]="loginForm" >
                      <input type="email"matInput placeholder="Email" formControlName="email">
                      <mat-icon matSuffix>email</mat-icon>          
                  </mat-form-field>
    
                  <br>
                  <mat-form-field class="column is-10 is-offset-1" [formGroup]="loginForm">
                      <input type="password" matInput placeholder="Password" formControlName="password">
                      <mat-icon matSuffix>lock</mat-icon>
                  </mat-form-field>
                      <br>
                  <div class="column is-offset-4">
                      <button type="submit" mat-raised-button color="primary"  (click)="loginAdmin()">Submit</button>
                  </div>
                    

        </div>    
    </mat-card>
  </div>
</section>
      
    