<nav class="navbar" role="navigation">
<mat-toolbar class="mat-typography"color="primary">
  
  <mat-toolbar-row>
    
    <button mat-button routerLink="/">
      <mat-icon>movie</mat-icon>
      Movie Bandit
    </button>

    <button mat-button routerLink="/movies"  >Movies</button>

    <span class="example-spacer"></span>
    <button class="navbar-end"color="primary" mat-raised-button mat-stroked-button *ngIf="!auth.isAuthenticated() && router.url != '/auth'" routerLink="/auth" >Login</button>
    <button class="navbar-end"color="primary" mat-raised-button mat-stroked-button *ngIf="auth.isAuthenticated() && router.url != '/auth'" routerLink="/auth" (click)="this.logout()">Logout</button>

  </mat-toolbar-row>
  
</mat-toolbar>
</nav>

