<div class="columns">
<mat-card class="mat-elevation-z3 column is-4 is-offset-4">
    <div>
        <mat-tab-group animationDuration="300ms">

        <div class="container columns">
          <mat-tab label="Login">
            <br>
              <mat-form-field class="column is-10 is-offset-1">
                  <input matInput type="email" placeholder="Email">
                  <mat-icon matSuffix>email</mat-icon>          
              </mat-form-field>

              <br>
              <mat-form-field class="column is-10 is-offset-1">
                  <input type="password" matInput placeholder="Password">
                  <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
                  <br>
              <button mat-raised-button color="primary" class=" ">Submit</button>
          </mat-tab>

        </div>

        <div class="container columns">
          <mat-tab label="Register">
            <br>
            <mat-form-field class="column is-10 is-offset-1">
              <input matInput type="text" placeholder="First Name">
            </mat-form-field>



            <mat-form-field class="column is-10 is-offset-1">
                <input matInput type="email" placeholder="Email">
                <mat-icon matSuffix>email</mat-icon>          
            </mat-form-field>


            

            <br>
            <mat-form-field class="column is-10 is-offset-1">
                <input type="password" matInput placeholder="Password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
                <br>
            <button mat-raised-button color="primary" class=" ">Submit</button>


        </mat-tab>
      </div>
      </mat-tab-group>
    </div>
      
</mat-card>
</div>

  
