<br>
<section class="section">
<div class="container">
        <h1 class="title is-1 has-text-centered">Movie Collection</h1>
        <br>
<div class="box">
<div class="container column">
<table class="table">
        <thead>
          <tr>
            <th><abbr title="Position">Pos</abbr></th>
            <th><abbr title="Movie Title">Title</abbr></th>
            <th><abbr title="Release Year">Year</abbr></th>
            <th><abbr title="Running Time">Running Time</abbr></th>
            <th><abbr title="Genre">Genre</abbr></th>
            <th><abbr title="Director">Director</abbr></th>
            <th><abbr title="Rating">Rating</abbr></th>
            <th><abbr title="Status">Status</abbr></th>
          </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let movie of movies$">
                <td>{{ movie.Id }}</td>
                <td>{{ movie.Title }}</td>
                <td>{{ movie.Year }}</td>
                <td>{{ movie.Duration }}</td>
                <td>{{ movie.Genre }}</td>
                <td>{{ movie.Director }}</td>
                <td>{{ movie.Rating }}</td>
                <td>{{ movie.Status }}</td>
                <td><button routerLink="/videos/{{ movie.Id }}" class="button is-warning">Edit</button></td>
                <td><button class="button is-danger">Delete</button></td>
            </tr>
        
        </tbody>
      </table>
      </div>
    </div>
    </div>
    </section>
